 *{
    padding : 0;
    margin: 0;
    color: white;

 }

 #navbar {
    
height: 60px;
background-color:  #0f1111;
 }

 button{
    background-color: #f08804;
 }

 #logo{
    color:#f08804;
    font-size: 25px;
 }
 a{
    margin-right: 200px;
    text-decoration: none;
 }

 div{
   background-color: slategrey;
   display: inline;
 }

 button{
   background-color: rgb(44, 4, 21);
   display:block;
 }